<div style="display: flex;justify-content: space-around; font-weight: 600; margin: 1.2rem; background-color: #8080808f; padding: 1rem">
    <a href="/">Inicio</a>
    <a href="/profile">My Profile</a>
    <a href="/products">Products</a>
    
    {{#if isNotAdmin}}
    <a href="/cart">Cart</a>
    {{#if isPremium}}
    <a href="/productsManager">My Products</a>
    {{/if}}
    {{/if}}
    
    {{#if isAdmin}}
    <a href="/productsManager">Product Manager</a>
    {{/if}}

    <a href="/api/session/logout" style="color: #ff3232;">Logout</a>
</div>
<h1>{{ title }}</h1>
<div class="card-product">
    <ul>
        {{#each cartProducts}}
            <li>
                <h3>Producto: {{this.product.title}}</h3>
                <h3>Cantidad: {{this.quantity}}</h3>
                <h3>Precio: ${{this.product.price}}</h3>
                <h4>Descripción: {{this.product.description}}</h4>
                <h4>Categoría: {{this.product.category}}</h4>

                <form method="post" action="/api/carts/product/{{this._id}}?_method=DELETE" class="btn-eliminar">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Eliminar</button>
                </form>
                
            </li>
        {{/each}}
    </ul>
    <h2>Precio total: ${{totalCart}}</h2>
    <form method="post" action="/api/tickets/{{cart._id}}/purchase">
        <button type="submit">Terminar compra</button>
    </form>
</div>



<script src="/js/product.js"></script>