<div style="display: flex; justify-content: center; align-items: center; font-weight: 600; background-color: #4CAF50; padding: 1rem; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);">
    <style>
        a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-size: 18px;
            padding: 8px 16px;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        a:hover {
            background-color: #45a049;
            transform: scale(1.1);
            text-decoration: underline;
        }

        a.logout:hover {
            background-color: #e63939;
            transform: scale(1.1);
        }
    </style>
    <a href="/" style="color: white; margin: 0 15px; text-decoration: none; font-size: 18px; padding: 8px 16px; border-radius: 5px;">Inicio</a>
    <a href="/profile" style="color: white; margin: 0 15px; text-decoration: none; font-size: 18px; padding: 8px 16px; border-radius: 5px;">My Profile</a>
    <a href="/products" style="color: white; margin: 0 15px; text-decoration: none; font-size: 18px; padding: 8px 16px; border-radius: 5px;">Products</a>

    {{#if isNotAdmin}}
    <a href="/cart" style="color: white; margin: 0 15px; text-decoration: none; font-size: 18px; padding: 8px 16px; border-radius: 5px;">Cart</a>
    {{#if isPremium}}
    <a href="/productsManager" style="color: white; margin: 0 15px; text-decoration: none; font-size: 18px; padding: 8px 16px; border-radius: 5px;">My Products</a>
    {{/if}}
    {{/if}}

    {{#if isAdmin}}
    <a href="/productsManager" style="color: white; margin: 0 15px; text-decoration: none; font-size: 18px; padding: 8px 16px; border-radius: 5px;">Product Manager</a>
    {{/if}}

    <a href="/api/session/logout" style="color: #ff3232; margin-left: 15px; font-size: 18px; text-decoration: none;">Logout</a>
</div>

<h1 style="text-align: center; margin-top: 20px; color: #333;">{{ title }}</h1>

<div class="card-product" style="display: flex; flex-wrap: wrap; justify-content: space-around; margin: 2rem auto; max-width: 1200px;">
    <ul style="list-style-type: none; padding: 0; margin: 0; width: 100%;">
        {{#each cartProducts}}
            <li style="background: #f9f9f9; border: 1px solid #ddd; border-radius: 8px; padding: 20px; margin-bottom: 20px; width: 100%; max-width: 300px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
                <h3 style="font-size: 1.2rem; color: #333;">Producto: {{this.product.title}}</h3>
                <p style="font-size: 1rem; color: #777;">Cantidad: {{this.quantity}}</p>
                <p style="font-size: 1rem; color: #777;">Precio: ${{this.product.price}}</p>
                <p style="font-size: 1rem; color: #777;">Descripción: {{this.product.description}}</p>
                <p style="font-size: 1rem; color: #777;">Categoría: {{this.product.category}}</p>

                <form method="post" action="/api/carts/product/{{this._id}}?_method=DELETE" class="btn-eliminar" style="text-align: center;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" style="background-color: #ff3232; color: white; border: none; padding: 10px 20px; font-size: 1rem; border-radius: 5px; cursor: pointer;">Eliminar</button>
                </form>
            </li>
        {{/each}}
    </ul>

    <h2 style="font-size: 1.5rem; font-weight: bold; color: #333; margin-top: 20px; text-align: center;">Precio total: ${{totalCart}}</h2>

    <form method="post" action="/api/tickets/{{cart._id}}/purchase" style="text-align: center; margin-top: 20px;">
        <button type="submit" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; font-size: 1.2rem; border-radius: 5px; cursor: pointer;">Terminar compra</button>
    </form>
</div>

<script src="/js/product.js"></script>