
<h1>{{ title }}</h1>
<div class="card-product">
    <ul>
        {{#each products}}
            <li>
                <h1>Nombre: {{this.title}}</h1>
                <h4>Descripción: {{this.description}}</h4>
                <h4>Precio: {{this.price}}</h4>
                <h4>Stock: {{this.stock}}</h4>
                <h4>Imagen: {{this.thumbnail}}</h4>
                <h4>Codigo: {{this.code}}</h4>
            </li>
        {{/each}}
    </ul>
</div>


<script src="/js/product.js"></script>