<div>
    <a href="/">Inicio</a>
    <a href="/profile">My Profile</a>
    <a href="/products">Products</a>
    <a href="/api/session/logout">Logout</a>
</div>
<div class="products-list">
    <h1>Listado de productos</h1>
    <div class="card-product">
        <table>
            <thead>
                <tr>
                    <td>Nombre: </td>
                    <td>Descripción:</td>
                    <td>Precio:</td>
                    <td>Stock:</td>
                    <td>Imagen: </td>
                    <td>Codigo:</td>
                    <td>Eliminar:</td> 
                </tr>
            </thead>
            <tbody class="container" id="productsFeed">
                {{#each products}}
                    <tr data-product-id="{{this._id}}">
                        <td> {{this.title}}</td>
                        <td> {{this.description}}</td>
                        <td> {{this.price}}</td>
                        <td> {{this.stock}}</td>
                        <td> {{this.thumbnail}}</td>
                        <td> {{this.code}}</td>
                        <td>
                            <form method="post" action="/api/products/{{this._id}}?_method=DELETE"  class="btn-eliminar">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="div-pagination">
        <h5><a href="{{prevLink}}">Página Anterior</a></h5>
        <h5>Página {{page}} de {{totalPages}}</h5>
        <h5><a href="{{nextLink}}">Página Siguiente</a></h5>
    </div>
</div>
<div class="product-form">
    <h1>{{this.title}}</h1>
    <form action="/api/products" method="post">

        <label for="title">Nombre</label>
        <input type="text" name="title" id="inputTitle">

        <label for="description">Descripcion</label>
        <input type="text" name="description" id="inputDescription">

        <label for="code">Código</label>
        <input type="text" name="code" id="inputCode">

        <label for="price">Precio</label>
        <input type="number" name="price" id="inputPrice">
    
        <div>
            <label for="status">Estado</label>
            <input type="checkbox" name="status" id="inputStatus" value="true">
            <label for="status">Activo</label>
        </div>


        <label for="stock">Stock</label>
        <input type="number" name="stock" id="inputStock">

        <label for="category">Categoria</label>
        <input type="text" name="category" id="inputCategory">

        <label for="thumbnail">Img</label>
        <input type="text" name="thumbnail" id="inputThumbnail">

        <button type="submit" id="sendProduct">Agregar producto</button>

    </form>
</div>
