<div style="display: flex;justify-content: space-around; font-weight: 600; margin: 1.2rem;">
    <a href="/">Inicio</a>
    <a href="/profile">My Profile</a>
    <a href="/products">Products</a>
    <a href="/api/session/logout">Logout</a>
</div>
<h1>Bienvenido {{firstName}} {{lastName}}! {{email}}</h1>
<h2>{{ title }}</h2>
<div class="card-product">
    <ul>
        <li>
            <h3>Nombre: {{product.title}}</h3>
            <h5>Descripción: {{product.description}}</h5>
            <h5>Precio: {{product.price}}</h5>
            <h5>Stock: {{product.stock}}</h5>
            <h5>Imagen: {{product.thumbnail}}</h5>
            <h5>Codigo: {{product.code}}</h5>
        </li>
    </ul>
</div>


<script src="/js/product.js"></script>