<div>
    <a href="/">Inicio</a>
    <a href="/profile">My Profile</a>
    <a href="/products">Products</a>
    <a href="/api/session/logout">Logout</a>
</div>
<h1>Bienvenido {{firstName}} {{lastName}}! {{email}} Rol: {{rol}}</h1>
<h2>{{ title }}</h2>
<div class="card-product">
    <ul>
        {{#each products}}
            <li>
                <h3>Nombre: {{this.title}}</h3>
                <h5>Descripci칩n: {{this.description}}</h5>
                <h5>Precio: {{this.price}}</h5>
                <h5>Stock: {{this.stock}}</h5>
                <h5>Imagen: {{this.thumbnail}}</h5>
                <h5>Codigo: {{this.code}}</h5>
                <button>Agregar al carrito</button>
            </li>
        {{/each}}
    </ul>
    <div class="div-pagination">
        <h5><a href="{{prevLink}}">P치gina Anterior</a></h5>
        <h5>P치gina {{page}} de {{totalPages}}</h5>
        <h5><a href="{{nextLink}}">P치gina Siguiente</a></h5>
    </div>
</div>


<script src="/js/product.js"></script>