<div style="display: flex; justify-content: space-around; font-weight: 600; margin: 1.2rem; background-color: #8080808f; padding: 1rem">
    <a href="/">Inicio</a>
    <a href="/profile">My Profile</a>
    <a href="/products">Products</a>
    
    {{#if isNotAdmin}}
    <a href="/cart">Cart</a>
    {{#if isPremium}}
    <a href="/productsManager">My Products</a>
    {{/if}}
    {{/if}}
    
    {{#if isAdmin}}
    <a href="/productsManager">Product Manager</a>
    <a href="/usersManager">Users Manager</a>
    {{/if}}

    <a href="/api/session/logout" style="color: #ff3232;">Logout</a>
</div>

<div>
    <h1>Bienvenido {{user.firstName}} {{user.lastName}}</h1>
    <h2>Datos del perfil</h2>
    <div>Rol: {{user.rol}}</div>
    <div>Edad: {{user.age}}</div>
    <div>Email: {{user.email}}</div>
    {{#if isNotAdmin}}
    <form action="/api/users/premium/{{user.id}}" method="POST" style="display: inline;">
        <button type="submit">Cambiar rol</button>
    </form>
    {{/if}}
    <div style="margin: 5px 0;">
        <form action="/api/users/{{user.id}}/documents" method="POST" enctype="multipart/form-data" style="display: inline;">
            <label>Imagen:</label>
            <input type="file" name="image">
            <button type="submit">Cargar imagen</button>
        </form>
    </div>

    <!-- Mostrar imágenes de documentos -->
    {{#if user.documents.length}}
        <div>
            <h3>Imágenes Cargadas:</h3>
            <ul>
                {{#each user.documents}}
                    <li>
                        <div>Nombre: {{this.name}}</div>
                        <img src="{{this.reference}}" alt="{{this.name}}" style="max-width: 200px;">
                    </li>
                {{/each}}
            </ul>
        </div>
    {{else}}
        <div>No hay imágenes cargadas</div>
    {{/if}}
</div>
